<div class="max-w-[1360px] px-5 py-12 lg:px-10 lg:py-24 m-auto">
  <h3 class="text-center mb-10">Commonly Asked Questions</h3>

  <div class="max-w-[800px] m-auto flex flex-col gap-5">
    <div class="mb-5">
      <p class="text-[24px]">Delays in Delivery</p>
      <p>
        In case of any unexpected delays due to bad weather, floods, or events out of our control, our customer service
        team will strive to communicate promptly to all affected customers.
      </p>
    </div>

    <div class="mb-5">
      <p class="text-[24px]">Order Status</p>
      <p>Our Customer Service Representative will provide tracking code via WhatsApp.</p>
    </div>

    <div class="mb-5">
      <p class="text-[24px]">Away During Delivery</p>
      <p>
        If you or no one is available to receive the order(s), we will be in touch to schedule a second delivery.
        Additional delivery charges may incur.
      </p>
    </div>

    <div class="mb-5">
      <p class="text-[24px]">Changing Delivery Address</p>
      <p>
        If you have already checked out and would like to change the delivery address, contact our customer service team
        at <a href="https://wa.me/60169562840">+6016 9562 840</a> (Joyce) or email
        <a href="mailto:support@mrchowliquorstore.com">support@mrchowliquorstore.com</a> as soon as possible; we will
        try our best to rearrange the scheduled delivery.
      </p>
      <p>
        If the rearrangement is unsuccessful, it will be considered a new delivery. We will inform you of any additional
        delivery costs that might be incurred, and your order will be redelivered pending your approval.
      </p>
    </div>

    <div class="mb-5">
      <p class="text-[24px]">Restricted Areas</p>
      <p>We do not deliver to and within the vicinity of the following areas:</p>
      <ul class="list-auto">
        <li class="list-inside">Hospitals</li>
        <li class="list-inside">Kuala Lumpur International Airport (KLIA) 1 and 2</li>
        <li class="list-inside">Government buildings</li>
      </ul>
    </div>

    <div class="mb-5">
      <p class="text-[24px]">Delivery Coverage</p>
      <p>We currently do not deliver to East Malaysia and countries outside of Malaysia.</p>
    </div>

    <div class="mb-5">
      <p class="text-[24px]">What if my orders are incomplete, damaged or lost in delivery?</p>
      <p>
        Please get in touch with our customer service team at
        <a href="https://wa.me/60169562840">+6016 9562 840</a> (Joyce) or email
        <a href="mailto:support@mrchowliquorstore.com">support@mrchowliquorstore.com</a>; we will arrange for a
        replacement upon verifying your claims.
      </p>
    </div>
  </div>
</div>
