<div>
  {% for block in section.blocks %}
    <p>{{ block.settings.title }}</p>
    <img width="40" height="40" src="{{block.settings.image}}" alt="">
    <p>{{ block.settings.explanation }}</p>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Food Pairings",
  "settings": [],
  "blocks": [
    {
      "type": "food_pairing",
      "name": "Food Pairing",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Upload Icon"
        },
        {
          "type": "textarea",
          "id": "explanation",
          "label": "Explanation"
        }
      ]
    }
  ]
}
{% endschema %}
