<div class="py-20 flex flex-col px-20 max-w-[1360px] m-auto justify-center">
  <h3 class="font-semibold self-center ">{{ section.settings.food_section_title }}</h3>
  <div class="flex flex-row justify-evenly flex-wrap">
    {% if section.blocks %}
      {% for block in section.blocks %}
        <div class="food-card flex flex-col max-w-[280px] items-center">
          <div class="max-w-[200px]">
            <img class="w-full object-cover" src="{{block.settings.image | image_url }}" alt="">
          </div>

          <p class="text-[26px]">{{ block.settings.food_category }}</p>

          <p class="text-[16px] text-[#1D1D1D62]">{{ block.settings.explanation }}</p>
        </div>
      {% endfor %}

    {% else %}
      <p>There are no food pairings at this moment.</p>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Food Pairings",
  "settings": [
    {
      "type": "text",
      "id": "food_section_title",
      "label": "Food Section Title",
      "default": "Food Pairings"
    }
  ],
  "blocks": [
    {
      "type": "food_pairing",
      "name": "Food Pairing",
      "settings": [
        {
          "type": "text",
          "id": "food_title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Upload Icon"
        },
        {
          "type": "text",
          "id": "food_category",
          "label": "Category"
        },
        {
          "type": "richtext",
          "id": "explanation",
          "label": "Explanation"
        }
      ]
    }
  ]
}
{% endschema %}
